<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- This file is only needed if you use preview versions of PleOps.Cake build system -->
    <add key="PleOps Preview" value="https://pkgs.dev.azure.com/benito356/NetDevOpsTest/_packaging/PleOps/nuget/v3/index.json" />
  </packageSources>
</configuration>
